.main-container{
    display: flex;
   align-items: center;
}
.like-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.like-button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.left{
    justify-content: left;
}
.right{
    justify-content: right;
}
.center{
    justify-content: center;
}