.main-container{
    display: flex;
   align-items: center;
}
.like-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.like-button{
    position: relative;;
    border: none;
    background: transparent;
    cursor: pointer;
}
.left{
    justify-content: left;
}
.right{
    justify-content: right;
}
.center{
    justify-content: center;
}
.like-counter .like-message{
  display:none; 
  position: absolute;
  top: 50px;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}